@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');

body {
  text-align: center;
  color: #333;
  background-color: #eee;
  font-family: 'Roboto', sans-serif;
}
main {
  margin: 0 auto;
  padding: 20px;
  max-width: 1000px;
}
a, a:link, a:hover, a:visited, a:active {
  text-decoration: none;
}
.projects, .prototypes { margin-bottom: 50px }
.project {
  background-size: cover;
  position: relative;
  margin: 10px;
}
.div-link {
  display: inline-block;
  color: #fff;
}
h1 { font-size: 3em }
.project h2, .project p {
  font-weight: 300;
  color: #fff;
  text-decoration: none;
  background-color: #000;
  background-color: rgba(0,0,0,0.8);
  padding: 10px 3%;
}
.project p {
  position: absolute;
  width: 94%;
  margin: 0;
  font-size: 0.9em;
  bottom: 0;
}

@media only screen and (min-width: 0) {
  body { font-size: 82% }
  .project {
    height: 187.5px;
    width: 250px;
  }
}
@media only screen and (min-width: 450px) {
  body { font-size: 100% }
  .project {
    height: 300px;
    width: 400px;
  }
}

#vizplex { background-image: url('./assets/images/vizplex.png') }
#tumult { background-image: url('./assets/images/tumult.png') }
#strife { background-image: url('./assets/images/strife.png') }
#terrapaint { background-image: url('./assets/images/terrapaint.png') }
#cloudbeacon { background-image: url('./assets/images/cloudbeacon.png') }
#soular { background-image: url('./assets/images/soular.png') }
#tabi { background-image: url('./assets/images/tabi.png') }
#piko { background-image: url('./assets/images/piko.png') }
#timbre { background-image: url('./assets/images/timbre.png') }
#spectio { background-image: url('./assets/images/spectio.png') }
#younity { background-image: url('./assets/images/younity.png') }
#nepho { background-image: url('./assets/images/nepho.png') }
